<div class="container" [style.background]="'url(' + randomBackgroundImageUrl + ') no-repeat center center/cover'">
  <div class="form-container">
      <form action="#">
          <h1>Login</h1>
          <div class="input-group">
              <input type="text" placeholder="Username" required>
              <i class="fas fa-user"></i>
          </div>
          <div class="input-group">
              <input type="password" placeholder="Password" required>
              <i class="fas fa-lock"></i>
          </div>
          <button type="submit">Login</button>
      </form>
  </div>
</div>
